<appSettings>
	<add key="MailServer" value="dev-smtp.vdly.com"/>
	<add key="FacebookAppId" value="asdasd"/>
	<add key="FacebookAppSecret" value="asdasd"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
